{% extends 'base.html.twig' %}

{% block body %}
<h1>Pixel {{ '.icon-gamepad'|parse_icons }}</h1>
<p>
    Retrouvez nous sur {{ '.brand-facebook .brand-tiktok .brand-youtube'|parse_icons}}
</p>
{% endblock %}