{% extends "base.html.twig" %}

{% block body %}
<<<<<<< HEAD
<h1>{{ 'game.add'|trans }}</h1>
{% include "game/_form.html.twig" %}

=======

{% include "game/_form.html.twig" %}

>>>>>>> f07e6920bd96f63ec1bd84554e919d8773424545
{% endblock %}